<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <style>
        body {
            background-color: hsl(210, 9%, 87%);
        }
    </style>
    
</head>
<body>
    <h1>Productos G1</h1>
    <div style="display: flex;">
        <div style="width: 50%;">
            <canvas id="myChart" style="position: relative; height: 40vh; width: 80vw;"></canvas>
        </div>
        <div style="width: 50%;">
            <canvas id="myDoughnutChart" style="position: relative; height: 40vh; width: 80vw;"></canvas>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <!-- <script type="module" src="dimensions.js"></script> -->
    <script src="js/productos.js"></script>
</body>
</html>